
a:hover {
    cursor: pointer;
}

@import url("https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css") screen and (orientation: landscape);
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css")        


